table.table-condensed {
    font-size: 10px;
}
table.table-condensed tbody tr td {
    padding: 3px;
    vertical-align: middle;
}

table.table-condensed tr .btn {
    padding: 2px 10px;
    font-size: 10px;
}

table.table-condensed tr td.table-empty {
    text-align: center;
    font-size: 13px;
}

table.table tr.table-recap {
    font-weight: 600;
    font-size: 13px;
}

table.table-condensed .table-action {
    text-align: center;
    width: 35px !important;
}
table.table-condensed th.table-action {
    text-align: left;
}