{% extends 'dashboard/table/layout.html.twig' %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_right">
                    {% for link in links %}
                        <a href="{{ path('db.manager.process', link.parameter) }}" class="btn btn-lg btn-success">{{ link.name }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="clearfix"></div>

            {% for view in views %}
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>{{ view.action.fullName }}</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                {% include view.viewMeta.view with { 'data' : view.data.data, 'action': view.action} %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}