{% extends 'Emails/base.html.twig' %}

{% block pack %}
<b><span class="important"> Pending Pack {{book.product.name}}</span></b>
{% endblock %}

{% block content %}
<p>
    <span class="info">Dear All,</span>
</p>
<p>
    <span class="info">we herewith confirm your reservation with greeter and driver details:</span>
</p>
{% include 'Emails/content.html.twig' %}
<p>You can follow your book <a href="{{ path('show', {'uid': book.uid}) }}">here</a></p>
<p>
    <span class="info">We are pleased to arrange this journey for you.<br>Please feel free to contact us incase of any questions.</span>
</p>
{% endblock %}
