{% extends 'dashboard/book/show/layout.html.twig' %}

{% block show_content %}
    <div class="row">
        {{ include('dashboard/book/show/product_content.html.twig', { details: true }) }}
    </div>
{% endblock %}
