
<tr class="section">
    <td colspan="2">Details</td>
</tr>
<tr>
    <td>Time</td>
    <td>{{ product.train.time|date('H:i') }}</td>
</tr>
<tr>
    <td>Destination</td>
    <td>{{ product.limousine.pickUp }} -> {{ product.limousine.dropOff }}</td>
</tr>