
    <tr class="section">
        <td colspan="2">Details</td>
    </tr>
    <tr>
        <td>Code</td>
        <td>{{ product.limousine.car.name }}</td>
    </tr>
    <tr>
        <td>Destination</td>
        <td>{{ product.limousine.pickUp }} -> {{ product.limousine.dropOff }}</td>
    </tr>