

    <tr class="section">
        <td colspan="2">Train Details</td>
    </tr>
    <tr>
        <td>Code</td>
        <td>{{ product.train.code }}</td>
    </tr>
    <tr>
        <td>Station</td>
        <td>{{ product.train.station }}</td>
    </tr>
    <tr>
        <td>Time</td>
        <td>{{ product.train.time|date('H:i') }}</td>
    </tr>